
/* General */
h1.title {
	text-align: center;
}

body {
	padding: 20px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

div.error {
	color: red;
}

/* Login Page */

form.login div {
	padding-bottom: 5px;
}

form.login div span {
	font-weight: bold;
	width: 100px;
	display: inline-block;
}

/* mypage */

span.days-left {
font-size: 170%;

}

table.log {
	border-collapse: collapse;
}

table.log, table.log th, table.log td {
	border: 1px solid #000;
	padding: 5px;
}

table.log th {
	background-color: #43aa27;
	color: #fff;
}

table.log tr:nth-child(even) {
	background-color: #aaa;
}

div.bmi-key {
	float: right;
	width: 280px;
}

div.weight-form {
	width: 400px;

}

/* newuser */
form.new-user div {
	padding-bottom: 5px;
}

form.new-user div span {
	font-weight: bold;
	width: 200px;
	display: inline-block;
}
